@{
    ViewData["Title"] = "Locais de Testes";
}
@model IEnumerable<Location>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Locais de Prova</h4>
    <h6 class="card-subtitle mb-2 text-muted">@Model.Count() registros</h6>
          <table class="table tablesorter" id="">
          <thead class=" text-tdco">
          <tr>
            <th data-class="expand"> Nome</th>
            <th data-hide="phone"> Address</th>
            <th data-hide="phone"> Fone</th>
            <th data-hide="phone"> Responsável</th>
            <th data-hide="phone"> Ativo</th>
          </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   <tr class=@(item.IsDeleted ? "text-red" : "")>
                      <td>@Html.DisplayFor(modelItem => item.FundationName)</td>
                      <td>@item.FullAddress()</td>
                      <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                      <td>@Html.DisplayFor(modelItem => item.Responsible)</td>
                      <td><input checked="@item.IsAtivo()" class="check-box" disabled="disabled" type="checkbox"></td>
                       <td class="text-center"><a class="btn btn-tdco btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> </td>

                  </tr>
                }
              </tbody>
          </table>
    <a asp-action="Add" asp-controller="Location" class="btn btn-tdco">Novo</a>
  </div>
</div>
