@model UserModel
@{
    ViewData["Title"] = "Set Password";
}


<div class="card">
  <div class="card-body">
    <h4 class="card-title">Alterar Senha</h4>
    <h6 class="card-subtitle mb-2 text-muted"></h6>

          <form method="post">
            @Html.HiddenFor(a => a.Name)
            @Html.HiddenFor(a => a.Email)
            @Html.HiddenFor(a => a.PasswordTip)


            <hr />
            <div class="form-group">
                <label asp-for="Email"></label>
                @Html.DisplayFor(a => a.Email)
            </div>


            <div class="form-group">
                <label asp-for="Name"></label>
                 @Html.DisplayFor(a => a.Name)
            </div>

             <div class="form-group">
                <label asp-for="PasswordTip"></label>
                 @Html.DisplayFor(a => a.PasswordTip)
            </div>


            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control col-md-6" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control col-md-6" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="RoleID"></label>
                <select asp-for="RoleID" class ="form-control col-md-6" asp-items="ViewBag.RoleID"></select>
                <span asp-validation-for="RoleID" class="text-danger"></span>
            </div>



            <button type="submit" class="btn btn-tdco">Alterar</button>
            <a class="btn btn-info" asp-action="List">Lista</a>
        </form>
        <hr>
        <form method="post" action="DeleteUser" onsubmit="return confirm('Confirma a desativar/ativar do usuário?');">
            @Html.HiddenFor(a => a.Name)
            @Html.HiddenFor(a => a.Email)

            @if (!Model.EmailConfirmado)
            {
             <button type="submit" class="btn btn-danger" onclick="show_alert();">Desativar</button>
            }
        </form>
  </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
