@model TaskUser
@{
    ViewData["Title"] = "Task";
}


<div class="card">
  <div class="card-body">
    <h2 class="card-title"> @Model.FundationName - @Model.StudentName </strong> </h2>
    <h6 class="card-subtitle mb-2 text-muted">@Model.User.Name</h6>
    <p class="card-text">ID:(@Model.StudentId): Link para aplicação do teste</p>
    <p class="card-text"><a href="@Model.Link" target="_blank"> @Model.Link </a></p>

    <hr>
    <h3>Datas</h3>
    <p class="card-text">  <label asp-for="DateOfCreate"></label> @Model.DateOfCreate.ToString("dd/MM/yyyy hh:mm tt")  </p>
    <p class="card-text">  <label asp-for="DateOfTest"></label> @Model.DateOfTest.ToString("dd/MM/yyyy hh:mm tt")  </p>

    @if (Model.DateOfEnd.HasValue)
    {
      <p class="card-text">  <label asp-for="DateOfEnd"></label> @Model.DateOfEnd.Value.ToString("dd/MM/yyyy hh:mm tt")  </p>
    }

    <hr>
    <h3>Ações</h3>
     <form asp-action="Done" method="post">
        @Html.HiddenFor(a => a.Id)
           @if (!Model.Done)
           {
              <button type="submit" class="btn btn-primary">Done</button>
            }
      <a class="btn btn-info" asp-action="Index" asp-contoller="Home">Voltar</a>
    </form>


  </div>
</div>

