@model TaskUser
@{
    ViewData["Title"] = "Task";
}


<div class="card">
  <div class="card-body">
    <h3 class="card-title"> @Model.Location.FundationName: (@Model.StudentId): @Model.StudentName  </h3>
    <h6 class="card-subtitle mb-2 text-muted">@Model.User.Name</h6>
    <!-- <p class="card-text"> @Model.Location.FullAddress() </p> -->

    <hr>
    <h3>Datas</h3>
    <p class="card-text">  <label asp-for="DateOfCreate"></label> @Model.DateOfCreate.ToString("dd/MM/yyyy hh:mm tt")  </p>
    <p class="card-text">  <label asp-for="DateOfTest"></label> @Model.DateOfTest.ToString("dd/MM/yyyy hh:mm tt")  </p>

    @if (Model.DateOfEnd.HasValue)
    {
      <p class="card-text">  <label asp-for="DateOfEnd"></label> @Model.DateOfEnd.Value.ToString("dd/MM/yyyy hh:mm tt")  </p>
    }

    <hr>
    <h3>Local do teste</h3>
    <p class="card-text">Instituição: @Model.Location.FundationName </p>
    <p class="card-text">CEP: @Model.Location.FullAddress() </p>
    <p class="card-text">Fone: @Model.Location.Phone </p>
    <p class="card-text">Resposável: @Model.Location.Responsible </p>

    <!-- <a class="btn btn-info" asp-action="Index" asp-contoller="Home">Voltar</a></p> -->


    <hr>
    <h3>Ações</h3>
     <form asp-action="Done" method="post">
       <p class="card-text"><a class="btn btn-tdco" href="@Model.Link" target="_blank">Realizar Teste</a>
        @Html.HiddenFor(a => a.Id)
           @if (!Model.Done)
           {
              <button type="submit" class="btn btn-tdco">Concluir a Tarefa</button>
            }
      <a class="btn btn-info" asp-action="Index" asp-contoller="Home">Voltar</a>
    </form>


  </div>
</div>

