@model IEnumerable<TaskUser>

<div class="text-center">
    <h1 class="display-4">Tarefas</h1>
</div>


<div id="content">
    <div class="well well-light">
        <p class="note">Registros Localizados: <small class="text-danger">(@Model.Count())</small> </p>
        <hr />
        <div class="row">
            <div class="col-md-12">
              <a asp-action="Add" class="btn btn-success">Novo</a>
            </div>
        </div>
        <hr>
        <div class="row padding-top-15">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="resultTable" class="table table-striped table-bordered table-hover">
                             <thead>
                                <tr>
                                  <th data-class="expand"> Nome</th>
                                  <th data-hide="phone"> Instituição</th>
                                  <th data-hide="phone"> Aluno</th>
                                  <th data-hide="phone"> Data do Teste</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                        <tr>
                                            <td>
                                                  @Html.DisplayFor(modelItem => item.User.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FundationName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StudentName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateOfTest)
                                            </td>
                                        </tr>
                                }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

}
